.header {
  background-color: #ebebeb;
  color: black;
  padding: 10px 30px 20px 30px;;
  height: 100px;
  --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 90deg,#0000 90deg) 50% / 60px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  .headerInner {
    font-family: "PlayfairDisplayItalic";
    display: flex;
    align-items: center;
    justify-content: space-between;

    .leftContainer {
      img {
        padding-bottom: 15px;
      }
      display: flex;
      align-items: center;
      gap: 40px;

      .headerText {
        display: inline-flex;
        color: black;
      }
    }

    .cartContainer {
      display: flex;
      align-items: center;
      gap: 15px;

      img {
        cursor: pointer;
      }
      
      .cartUpdate {
        position: absolute;
        background-color: white;
        padding: 10px;
        font-weight:bold;
        box-shadow: 5px 10px;
        right: 20px;
        top: 20px;
      }

      
    }
       
  }
}

@media screen and (max-width: 535px) {
  .header {
    height: 200px;
    padding: 5px 15px 10px 15px;
    .headerInner {
      flex-direction: column;
      align-items: flex-end;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 300px) {
  .header {
    height: 225px;
    .headerInner {
      .leftContainer {
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 265px) {
  .header {
    .headerInner {
      .leftContainer {
        gap: 10px;
      }
    }
  }
}

