@font-face {
  font-family: "PlayfairDisplayBlack";   
  src: local("PlayfairDisplay-Black"),
    url("./fonts/PlayfairDisplay-Black.otf") format("opentype");
}

@font-face {
  font-family: "PlayfairDisplayItalic";  
  src: local("PlayfairDisplay-Italic"),
    url("./fonts/PlayfairDisplay-Italic.otf") format("opentype");
}

@font-face {
  font-family: "PlayfairDisplayBold";  
  src: local("PlayfairDisplay-Bold"),
    url("./fonts/PlayfairDisplay-Bold.otf") format("opentype");
}

@font-face {
  font-family: "PlayfairDisplayRegular";  
  src: local("PlayfairDisplay-Regular"),
    url("./fonts/PlayfairDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PlayfairDisplayBoldItalic";  
  src: local("PlayfairDisplay-BoldItalic"),
    url("./fonts/PlayfairDisplay-BoldItalic.otf") format("opentype");
}


